<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Dating App</a> <!-- title  -->
      
      
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async"><!-- ngif' its a stractual directive ,always begin with 
          * '*ngIf="currentUser$"...> if this has sopmething that is not null then we know we are logged in -->
          <li class="nav-item">
            <a class="nav-link "  href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Messages</a>
          </li>
        </ul>

        <div class="drobdown" *ngIf="accountService.currentUser$ | async" dropdown>  <!-- type div.dropdwon to create a div class faster -->
          <a  class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome user</a>   <!--a.dropdown-toggle.text-light --> 
          <div class="dropdown-menu mt-3 " *dropdownMenu>  <!--dispalay the menu whe the buuton is clicked -->
            <a  class="dropdown-item">Edit Profile</a>
            <a  class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div> 

        <form  *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" > <!-- #loginForm="ngForm" to turn nthis form to an angular form,its a template reference variable -->
          <!-- [(ngModel)]="model.username" ...>two way binding [()]between template and component, to  bound the input with an angular form -->
            <input
                name="username"
                [(ngModel)]="model.username"
                class="form-control me-2" 
                type="text" 
                placeholder="Username">
            <input
                name="password"
                [(ngModel)]="model.password"
                class="form-control me-2" 
                type="password" 
                placeholder="Password" >
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
  </nav>